<div class="header">
                <ul>
                    <li class={{homeClass}}>
                        <a href="/">Home</a>
                    </li>
                    <li class={{recipeClass}}>
                        <a href="recipes">A to Z Recipes</a>
                    </li>
                    <li class={{featuredClass}}>
                        <a href="featured">Featured Recipes</a>
                    </li>
                    <li class={{videosClass}}>
                        <a href="videos">Videos</a>
                    </li>
                    <li class={{aboutClass}}>
                        <a href="about">About</a>
                    </li>
                    <li class={{blogClass}}>
                        <a href="blog">Blog</a>
                    </li>
                    <li class={{sortClass}}>
                        <a href="Sort">Sort</a>
                    </li>
                </ul>
            </div>