<div class="header">
                <ul>
                    <li {{{homeClass}}}>
                        <a href="/">Home</a>
                    </li>
                    <li {{recipeClass}}>
                        <a href="recipes">A to Z Recipes</a>
                    </li>
                    <li {{featuredClass}}>
                        <a href="featured">Featured Recipes</a>
                    </li>
                    <li {{videosClass}}>
                        <a href="videos">Videos</a>
                    </li>
                    <li {{aboutClass}}>
                        <a href="about">About</a>
                    </li>
                    <li {{blogClass}}>
                        <a href="blog">Blog</a>
                    </li>
                    <li {{sortClass}}>
                        <a href="Sort">Sort</a>
                    </li>
                </ul>
            </div>